table {
	/*border: 1px solid black;*/
	/*padding:2px;*/
	border-collapse: collapse;
}


td, tr, th {
	border: 1px solid black;
	/*border-collapse: collapse;*/
	padding: 8px 3px 8px 3px;

	/*margin: 10px;*/
	font-family: georgia;
}

th {
	padding: 6px;
	font-size: 1.2em;
}

tr:nth-child(even){
	background-color: #D3D3D3;
}