
button{
    margin-top: 8px;
    background-color: rgb(213, 198, 198);
    border-radius: 5px;
    border: 1px solid black;
}

input{
    margin-top: 6px;
    margin-bottom: 6px;
    width: fit-content;
}

form{
    width: fit-content;

}